# .github/workflows/ci.yml
name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install premake
        run: wget https://github.com/premake/premake-core/releases/download/v5.0.0-beta2/premake-5.0.0-beta2-linux.tar.gz && tar -xzf premake-*.tar.gz && sudo mv premake5 /usr/local/bin/
      - run: premake5 gmake2
      - run: cd build && make config=release